body {
  background-color: #ebcbae;
  text-align: center;
}

a {
  color: #644a7f;
  text-decoration: none;
  padding: 20px;
}

img {
  width: 200px;
  padding-bottom: 30px;
}

.contact-email {
  color: green;
  padding: 0%;
}
